GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://mamba:password@localhost:5432/astral_docs
GOOSE_MIGRATION_DIR=./migrations 
GOOSE_TABLE=goose_migrations

POSTGRES_DB=astral_docs
POSTGRES_PORT=5432
POSTGRES_HOST=localhost 
POSTGRES_USER=mamba
POSTGRES_PASSWORD=password 
SSL_MODE=disable

SERVICE_HTTP_HOST=localhost
SERVICE_HTTP_PORT=8080
CORS=https://*,http://*
ADMIN_TOKEN=1mnBLIm8e5aprvEARdo7FWL/3CT1eZrQja48Oh8dd1c4G9VbdflnXz7F3epqz6+Ic/BWiNZr1R5SwtNKWL0SzQ==
